


.page-content{
  margin:3%;
  padding:5%;
}


.page-heading{
  background-image: linear-gradient(150deg,rgb(203, 101, 187),rgb(185, 134, 211), white);
  font-family: 'Source Sans Pro',
  sans-serif;
  letter-spacing: 2px;
}

         
.ariel{


font-family: 'Roboto', sans-serif;
font-weight: 5rem;
width:30%;
margin-left:5%;
}


p{
font-family: 'Montserrat',
sans-serif;
font-weight: 1rem;
}

.navigation{
  width:65%;
  
 
}

a{
font-family: 'Lato',
sans-serif;
font-weight: 2rem;

}

li:hover{

  background-color: rgb(228, 65, 246);
}
nav {
  background-image:  linear-gradient( 150deg, purple, white);
  border-bottom: 3px solid black;
  


}

body {
    background-color:  rgb(212, 149, 212);

}

.active{
  background-color: pink;
  
}

.about-container {

  padding-top: 5px;

}
.profile  {
  width: 30%;
           border-radius: 50%;
           text-align: center;
            float: left;



}
p {
  text-align: justify;
}



.all-projects {
  font-style: italic;
  font-weight: bold;
}

card {
  flex-wrap: wrap;
}

.resume {
  width: 90%;
  height: 50%
}
.resume-text {
 font-style: italic;
}

.project-card {
  display: inline-block;
   border: 6px solid purple;
   background-color: rgb(221, 176, 240);
}


.project {
  padding: 20px;
  position: relative;

  width: 100%;
  max-width: 450px;
  height: 300px;
  margin: 30px;
}

.contact {
    padding-top: 5px;
  padding: 20px;
  display: flex-wrap;
  border: 4px solid black;
  height: 400px;
  width: 60%;
 
}

/* Style inputs with type="text", select elements and textareas */
input[type=text],
input[type=email],
textarea {

  width: 70%;
  /* Full width */

  border: 1px solid #ccc;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical
    /* Allow the user to vertically resize the textarea (not horizontally) */
}

textarea.message-text {
  margin-right: 45px;
}

textarea {
  width: 70%;
  text-align: center;
  float: right;
}


label.email, label.name, label.message {
  padding-right: 20px;
}

label.message {
  margin-top: 50px;
}


/* Style the submit button with a specific background color etc */
button[type=submit] {
  background-color: #04AA6D;
  padding: 12px 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
   
}

button.submit {
  float: right;
  margin-left: 200px;
}
/* When moving the mouse over the submit button, add a darker green color */
button[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;

  padding: 20px;
}


.navActive {

  cursor: default;
  text-shadow: 3px 3px 15px rgba(255, 255, 255, 0.5);
}

@media only screen and (max-width: 1300px) {
  nav {
    position: static;
    display: block;
    z-index: 100;
    margin: 0 10px;
    font-size: 2rem;
  }

  header h1 {
    display: block;
    height: 30px;
  }
}

@media only screen and (max-width: 900px) {
  nav {
    position: static;
    display: block;
    z-index: 100;
    margin: 0 10px;
    font-size: 1.3rem;
  }

  header h1 {
    display: block;
    margin: 5px 10px;
    height: 15px;
    width: 100%;
    text-align: center;
    font-size: 2.3rem;
  }
}

.error-text {
  color: red;
}