


.page-content{
  margin:3%;
  padding:5%;
}


.page-heading{
  background-image: linear-gradient(150deg,rgb(203, 101, 187),rgb(185, 134, 211), white);
  font-family: 'Source Sans Pro',
  sans-serif;
  letter-spacing: 2px;
}

         
.ariel{


font-family: 'Roboto', sans-serif;
font-weight: 5rem;
width:30%;
margin-left:5%;
}


p{
font-family: 'Montserrat',
sans-serif;
font-weight: 1rem;
}

.navigation{
  width:65%;
  
 
}

a{
font-family: 'Lato',
sans-serif;
font-weight: 2rem;

}

li:hover{

  background-color: rgb(228, 65, 246);
}
nav {
  background-image:  linear-gradient( 150deg, purple, white);
  border-bottom: 3px solid black;
  


}

body {
    background-color:  rgb(212, 149, 212);

}

.active{
  background-color: pink;
  
}


.all-projects {
  font-style: italic;
  font-weight: bold;
}

card {

  flex-wrap: wrap;




}

.project-card {
  display: inline-block;
   border: 6px solid purple;
   background-color: rgb(221, 176, 240);
}


.project {
  padding: 20px;
  position: relative;

  width: 100%;
  max-width: 450px;
  height: 300px;
  margin: 30px;
}

.navActive {

  cursor: default;
  text-shadow: 3px 3px 15px rgba(255, 255, 255, 0.5);
}

@media only screen and (max-width: 1300px) {
  nav {
    position: static;
    display: block;
    z-index: 100;
    margin: 0 10px;
    font-size: 2rem;
  }

  header h1 {
    display: block;
    height: 30px;
  }
}

@media only screen and (max-width: 900px) {
  nav {
    position: static;
    display: block;
    z-index: 100;
    margin: 0 10px;
    font-size: 1.3rem;
  }

  header h1 {
    display: block;
    margin: 5px 10px;
    height: 15px;
    width: 100%;
    text-align: center;
    font-size: 2.3rem;
  }
}

.error-text {
  color: red;
}