.page-content{
  margin:3%;
  padding:5%;
}


.page-heading{
  background-image: linear-gradient(150deg,red,pink, white);
  font-family: 'Source Sans Pro',
  sans-serif;
  letter-spacing: 2px;
}



.ariel{


font-family: 'Roboto', sans-serif;
font-weight: 5rem;
width:30%;
margin-left:5%;
}


p{
font-family: 'Montserrat',
sans-serif;
font-weight: 1rem;
}

.navigation{
  width:65%;
}

a{
font-family: 'Lato',
sans-serif;
font-weight: 2rem;
}

li:hover{

  background-color: greenyellow;
}
nav {
  background-image: linear-gradient(150deg, purple, white);
  border-bottom: 5px solid black;
}

body {
    background-color:  rgb(212, 149, 212);

}

.active{
  background-color: blue;
}